{
  "http_interactions": [
    {
      "recorded_at": "2016-09-25T21:30:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"fields\": {\"string\": {\"type\": \"string\", \"name\": \"String\"}, \"money\": {\"type\": \"money\", \"name\": \"Dollars\", \"currency_code\": \"USD\"}, \"number\": {\"type\": \"number\", \"name\": \"Number\"}, \"datetime\": {\"type\": \"datetime\", \"name\": \"Date Time\"}, \"date\": {\"type\": \"date\", \"name\": \"Date\"}, \"percentage\": {\"type\": \"percentage\", \"name\": \"Percentage\"}}}"
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "PUT",
        "uri": "https://api.geckoboard.com/datasets/test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":\"test\",\"fields\":{\"date\":{\"type\":\"date\",\"name\":\"Date\"},\"datetime\":{\"type\":\"datetime\",\"name\":\"Date Time\"},\"money\":{\"type\":\"money\",\"name\":\"Dollars\",\"currency_code\":\"USD\"},\"number\":{\"type\":\"number\",\"name\":\"Number\"},\"percentage\":{\"type\":\"percentage\",\"name\":\"Percentage\"},\"string\":{\"type\":\"string\",\"name\":\"String\"}},\"created_at\":\"2016-09-25T21:30:06.726822Z\",\"updated_at\":\"2016-09-25T21:30:06.726822Z\"}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.geckoboard.com/datasets/test"
      }
    },
    {
      "recorded_at": "2016-09-25T21:30:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"data\": [{\"string\": \"test string\", \"money\": 795.0, \"number\": 22, \"datetime\": \"2016-09-23T00:00:00Z\", \"date\": \"2016-09-23\", \"percentage\": 0.5}, {\"string\": \"test string\", \"money\": 795.0, \"number\": 22, \"datetime\": \"2016-09-23T00:00:00Z\", \"date\": \"2016-09-24\", \"percentage\": 0.5}, {\"string\": \"test string\", \"money\": 795.0, \"number\": 22, \"datetime\": \"2016-09-23T00:00:00Z\", \"date\": \"2016-09-25\", \"percentage\": 0.5}, {\"string\": \"test string\", \"money\": 795.0, \"number\": 22, \"datetime\": \"2016-09-23T00:00:00Z\", \"date\": \"2016-09-26\", \"percentage\": 0.5}, {\"string\": \"test string\", \"money\": 795.0, \"number\": 22, \"datetime\": \"2016-09-23T00:00:00Z\", \"date\": \"2016-09-27\", \"percentage\": 0.5}]}"
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "PUT",
        "uri": "https://api.geckoboard.com/datasets/test/data"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.geckoboard.com/datasets/test/data"
      }
    },
    {
      "recorded_at": "2016-09-25T21:30:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.geckoboard.com/datasets/test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.geckoboard.com/datasets/test"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}