{
  "http_interactions": [
    {
      "recorded_at": "2016-10-10T19:39:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"fields\": {\"datetime\": {\"type\": \"datetime\", \"name\": \"Date Time\"}, \"money\": {\"type\": \"money\", \"currency_code\": \"USD\", \"name\": \"Dollars\"}, \"date\": {\"type\": \"date\", \"name\": \"Date\"}, \"number\": {\"type\": \"number\", \"name\": \"Number\"}, \"string\": {\"type\": \"string\", \"name\": \"String\"}, \"percentage\": {\"type\": \"percentage\", \"name\": \"Percentage\"}}}"
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "PUT",
        "uri": "https://api.geckoboard.com/datasets/test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":\"test\",\"fields\":{\"date\":{\"type\":\"date\",\"name\":\"Date\"},\"datetime\":{\"type\":\"datetime\",\"name\":\"Date Time\"},\"money\":{\"type\":\"money\",\"name\":\"Dollars\",\"currency_code\":\"USD\"},\"number\":{\"type\":\"number\",\"name\":\"Number\"},\"percentage\":{\"type\":\"percentage\",\"name\":\"Percentage\"},\"string\":{\"type\":\"string\",\"name\":\"String\"}},\"created_at\":\"2016-10-10T19:39:30.326955Z\",\"updated_at\":\"2016-10-10T19:39:30.326955Z\"}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.geckoboard.com/datasets/test"
      }
    },
    {
      "recorded_at": "2016-10-10T19:39:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"data\": [{\"datetime\": \"2016-09-23T00:00:00Z\", \"money\": 795.0, \"date\": \"2016-09-23\", \"number\": 22, \"string\": \"test string\", \"percentage\": 0.5}, {\"datetime\": \"2016-09-23T00:00:00Z\", \"money\": 795.0, \"date\": \"2016-09-24\", \"number\": 22, \"string\": \"test string\", \"percentage\": 0.5}, {\"datetime\": \"2016-09-23T00:00:00Z\", \"money\": 795.0, \"date\": \"2016-09-25\", \"number\": 22, \"string\": \"test string\", \"percentage\": 0.5}, {\"datetime\": \"2016-09-23T00:00:00Z\", \"money\": 795.0, \"date\": \"2016-09-26\", \"number\": 22, \"string\": \"test string\", \"percentage\": 0.5}, {\"datetime\": \"2016-09-23T00:00:00Z\", \"money\": 795.0, \"date\": \"2016-09-27\", \"number\": 22, \"string\": \"test string\", \"percentage\": 0.5}], \"delete_by\": \"date\"}"
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.geckoboard.com/datasets/test/data"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.geckoboard.com/datasets/test/data"
      }
    },
    {
      "recorded_at": "2016-10-10T19:39:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.geckoboard.com/datasets/test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.geckoboard.com/datasets/test"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}