{
  "http_interactions": [
    {
      "recorded_at": "2016-10-16T19:06:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"api_key\": \"<AUTH_TOKEN>\", \"data\": {\"item\": [{\"text\": \"Overdue\", \"value\": 20}, {}, {\"text\": \"Good\", \"value\": 80}]}}"
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://push.geckoboard.com/v1/send/120885-142a61f0-74a2-0134-3615-22000b5980c2"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"success\":true}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://push.geckoboard.com/v1/send/120885-142a61f0-74a2-0134-3615-22000b5980c2"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}