{
  "http_interactions": [
    {
      "recorded_at": "2016-10-10T19:38:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"unique_by\": [\"date\"], \"fields\": {\"number\": {\"name\": \"Number\", \"type\": \"number\"}, \"money\": {\"name\": \"Dollars\", \"type\": \"money\", \"currency_code\": \"USD\"}, \"percentage\": {\"name\": \"Percentage\", \"type\": \"percentage\"}, \"string\": {\"name\": \"String\", \"type\": \"string\"}, \"date\": {\"name\": \"Date\", \"type\": \"date\"}, \"datetime\": {\"name\": \"Date Time\", \"type\": \"datetime\"}}}"
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "PUT",
        "uri": "https://api.geckoboard.com/datasets/test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":\"test\",\"fields\":{\"date\":{\"type\":\"date\",\"name\":\"Date\"},\"datetime\":{\"type\":\"datetime\",\"name\":\"Date Time\"},\"money\":{\"type\":\"money\",\"name\":\"Dollars\",\"currency_code\":\"USD\"},\"number\":{\"type\":\"number\",\"name\":\"Number\"},\"percentage\":{\"type\":\"percentage\",\"name\":\"Percentage\"},\"string\":{\"type\":\"string\",\"name\":\"String\"}},\"unique_by\":[\"date\"],\"created_at\":\"2016-10-10T19:38:21.626749Z\",\"updated_at\":\"2016-10-10T19:38:21.626749Z\"}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.geckoboard.com/datasets/test"
      }
    },
    {
      "recorded_at": "2016-10-10T19:38:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "<AUTH_TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.geckoboard.com/datasets/test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{}\n"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.geckoboard.com/datasets/test"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}